@import url('./add-style.css');

* {
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  max-width: 100vw;
  padding: 0;
  margin: 0;
  color: rgb(140, 0, 255);
}

html {
  overflow-x: hidden;
}

.hide {
  display: none;
}

.header__container,
.content__container,
.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  margin: 0;
  padding: 0;
  height: 70px;
  width: 100%;
  background-color: #192f2d;
  color: white;
}

.header__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navbar a {
  display: block;
  text-transform: uppercase;
  margin-right: 30px;
  padding: 16px;
  font-size: 20px;
  color: white;
}

.header__navbar a:last-child {
  margin-right: 0;
}

.header__logo {
  height: 54px;
  width: 42px;
  background: url('../../assets/svg/tree.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.header__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  width: 100%;
  padding: 5px 20px;
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
  border-radius: 30px;
  outline: none;
  color: white;
  border: 1px solid rgba(50, 163, 238, 0.4);
}

.content {
  min-width: 100%;
  min-height: calc(100vh - 140px);
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url('../../assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.footer {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #192f2d;
  color: white;
  font-size: 20px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__container a {
  color: white;
}

.footer__school {
  height: 70px;
}

.footer-school__link {
  display: block;
  background: url('../../assets/svg/rss.svg');
  width: 160px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
}
